[Unit]
Description=Systemd keepaneye daemon
Documentation=man:keepaneye

[Service]
Type=notify
ExecStart=/usr/bin/keepaneye daemon
User=_sd-keepaneye

[Install]
WantedBy=multi-user.target
